* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentLogin {
  display: flex;
}

.contentLogin :first-child{
  width: 40%;
}

.contentLogin :last-child{
  width: 60%;
}

.contentLogin .areaLogin {
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

.contentLogin .areaLogin .formularioLogin {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  left: -5rem;
  color: white;
}

.contentLogin .areaLogin .formularioLogin input{
  background: rgb(113,113,113);
  background: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(173,173,173,1) 100%);
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  border: none;
  box-shadow: 6px 6px 37px -11px rgba(0,0,0,0.31);
  width: fit-content;
  margin-top: 1rem;
}

.contentLogin .areaLogin .formularioLogin button {
  background: rgb(113,113,113);
  background: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(173,173,173,1) 100%);
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  border: none;
  box-shadow: 6px 6px 37px -11px rgba(0,0,0,0.31);
  width: fit-content;
  margin-top: 1rem;
}

.contentLogin .areaLogin .formularioLogin .loginLinks {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.contentLogin .areaLogin .formularioLogin .loginLinks a {
  color: white;
  text-decoration: none;
}

.contentLogin .areaLogin img {
  position: absolute;
  height: 100vh;
  width: fit-content;
}

.contentLogin .imgLogin img {
  width: 100%;
  height: 100vh;
}

.accordion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5rem 2rem;
}

.accordion button{
  background: white;
  color: gray;
  padding: 2rem;
  border-radius: 20px;
}

.accordion div {
  color: white;
  background: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(173,173,173,1) 100%);
  padding: 3rem;
  border-radius: 20px;
}
.titulo{
  text-align: center;
  background: rgb(8,140,167);
  background: linear-gradient(180deg, rgba(8,140,167,1) 0%, rgba(11,11,34,1) 59%);
}